* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   /* pomakuje nam button-e sve do vrha stranice*/
   background-color: #6699CC;
   font-family: sans-serif;
   outline: none;

}

.container {
   height: 100vh;
   display: flex;
   justify-content: center;
   /*centriramo naš kalkulator na sredinu stranice*/
   align-items: center;
   background-color: #5072A7;
}

.calculator {
   background-color: #6699CC;
   padding: 15px;
   border-radius: 30px;
   box-shadow: inset 5px 5px 12px #5072A7;
   /*nastaje dizajni obrub samog kalkulatora*/
   display: grid;
   /* formira kalkulator u obliku rešetka, odnosno postavlja ga okomito*/
   grid-template-columns: repeat(4, 70px);
}

input {
   grid-column: span 4;
   /* s ovime postavljamo input type varijablu da zauzima 4 mjesta umjesto jednoga*/
   height: 70px;
   width: 260px;
   background-color: #89CFF0;
   box-shadow: inset 3px 3px 10px #6699CC;
   border: none;
   /* da nam se ne vidi rub 'kučice'*/
   border-radius: 30px;
   color: black;
   /*ovo se odnosi na boju koja ce biti brojki koje upisujemo dok racunamo neku jednazbu*/
   font-size: 30px;
   text-align: right;
   /* to oznacuje s koje strane ce biti zapisan placeholder*/
   margin: auto;
   /*ovo se postavljuje kako bi input centrirali sa ostatkom button-a*/
   margin-top: 40px;
   margin-bottom: 30px;
   /*odvajamo input od ostalih button-a kako bih bilo preglednije*/
   padding: 20px;
   /*padding properties are used to generate space around an element's content, inside of any defined borders.*/

}

button {
   height: 48px;
   width: 48px;
   box-shadow: inset 3px 3px 5px #89CFF0;
   border: none;
   border-radius: 50%;
   /*kad border radius postavimo na 50%, dobijamo okrugli oblik, u  ovom slucaju okrugli oblik button-a */
   margin: 8px;
   font-size: 16px;
}

.equal {
   width: 115px;
   border-radius: 45%;
   box-shadow: inset 3px 3px 5px #89CFF0;


}