body {
   background-color: #f5d9df;
   font-family: "Nunito", sans-serif;
}

#mainNavbar {
   font-size: 1.5rem;
   font-weight: 100;
}

#mainNavbar .nav-link {
   color: white;

}

#mainNavbar .nav-link:hover {
   /* ovo nam je id samo za hover-anje slova u nav-baru (HOVER SE PISE SA JEDNIM : A NE SA DVA (::)  */
   color: #EA1C2C;

}

#mainNavbar .navbar-brand {

   color: #EA1C2C;
   font-size: 1.5rem;
}


#headingGroup span {
   color: #EA1C2C;
}


#headingGroup h1 {
   font-weight: 100;
   font-size: 4rem;
}

@media (max-width:1500px) {
   /**na videu je 1200px*/

   #headingGroup h1 {
      font-weight: 10;
      font-size: 3rem;
   }
}

.nekakvaBezvezeVarijabla h2 {
   /* svi heading 2 iz klase nekakvaBezvezeVarijabla*/
   color: #EA1C2C;
   font-weight: 100;
   font-size: 2.5rem;
   /* 2.5 rem-a je evkivalentno 40px*/
}

.nekakvaBezvezeVarijabla p {

   color: #f498b8;
   font-weight: 100;
   font-size: 1.125rem;
   line-height: 2;
}


.kontent {
   margin-top: 100px;
   margin-bottom: 100px;
}

.navbar.scrolled {
   /*klasa koja nam daje backgorund color svaki put kada korisnik scroll-a prema dolje*/
   background-color: rgb(222, 192, 222);
   transition: background 500ms;
}